@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@300;400;500&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  background-color:	"	#f7f7f7"
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', serif;
 }

 i {
   font-size: 40px;
   color: #009f6b;
   text-align: center;
 }